<!DOCTYPE html>
<html>
<head>
<title>Giggity</title>
<meta name="description" content="Giggity">
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
<div class='container'>
<div class='navbar navbar-fixed-top'>
<div class='navbar-inner'>
<div class='container'>
<ul class='nav pull-left'>
<li style='position: relative; top: 10px'>
<form accept-charset="UTF-8" action="/searches" class="new_search" id="new_search" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="ikBU3/4D9xl3PIOyz/h9solvEWwS1Fe2vO2Kw7BLcKU=" /></div>
<input class="search-query span2" id="search_query" name="search[query]" placeholder="search" size="30" type="text" />
</form>
</li>
</ul>
<a href="/"><img alt="Logo" id="logo" src="/assets/logo-8b13942b07335794430b998003464ab1.png" width="200" /></a>
<ul class='nav pull-right'>
<li class='dropdown'>
<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
Mike Booker
<b class='caret'></b>
</a>
<ul class='dropdown-menu'>
<li></li>
<li><a href="/logout">Logout</a></li>
</ul>
</li>
</ul>
</div>
</div>
</div>

<div aria-hidden='true' aria-labelledby='myModalLabel' class='modal hide fade' id='edit' role='dialog' tabindex='-1'>
<div class='modal-header'>
<button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
<h3>Edit your profile</h3>
</div>
<div class='modal-body'>
<form accept-charset="UTF-8" action="/users/60" class="edit_user" enctype="multipart/form-data" id="edit_user_60" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="ikBU3/4D9xl3PIOyz/h9solvEWwS1Fe2vO2Kw7BLcKU=" /></div>
<label for="user_name">Name</label>
<input class="input-block-level" id="user_name" name="user[name]" size="30" type="text" value="Shav and Mentos" />
<label for="user_email">Email</label>
<input class="input-block-level" id="user_email" name="user[email]" size="30" type="text" value="shavandmentos@gmail.com" />
<label for="user_paypal_email">PayPal email</label>
<input class="input-block-level" id="user_paypal_email" name="user[paypal_email]" size="30" type="text" value="" />
<label for="user_user_role">What are you?</label>
<select id="user_user_role" name="user[user_role]"><option value="Booker">Booker</option>
<option value="Performer" selected="selected">Performer</option></select>
<label for="user_category">Gig category</label>
<select id="user_category" name="user[category]"><option value="">Select a category</option>
<option value="Music" selected="selected">Music</option>
<option value="Comedy">Comedy</option>
<option value="Magic">Magic</option>
<option value="Visual Art">Visual Art</option>
<option value="Dance">Dance</option>
<option value="Multiple">Multiple</option>
<option value="Other">Other</option></select>
<label for="user_subcategory">Subcategory (musical genre, type of comedy, etc.)</label>
<input id="user_subcategory" name="user[subcategory]" size="30" type="text" value="Hip-Hop/Pop" />
<label for="user_price_level">Price level</label>
<select id="user_price_level" name="user[price_level]"><option value="">Select a price level</option>
<option value="$0 - $200">$0 - $200</option>
<option value="$200 - $500">$200 - $500</option>
<option value="$500 - $1,000" selected="selected">$500 - $1,000</option>
<option value="$1,000 - $2,000">$1,000 - $2,000</option>
<option value="$2,000 - $5,000">$2,000 - $5,000</option>
<option value="$5,000 - $10,000">$5,000 - $10,000</option>
<option value="$10,000 - $20,000">$10,000 - $20,000</option>
<option value="&gt; $20,000">&gt; $20,000</option></select>
<label for="user_blurb">Blurb (performers only)</label>
<textarea class="input-block-level" cols="40" id="user_blurb" name="user[blurb]" rows="3">
We are a hip-hop duo based out of Hamilton, NY that loves to make music that people really feel.  Check out some of our music and start a conversation if you think we could help you out.</textarea>
<label for="user_profile_pic">Picture (performers only)</label>
<input id="user_profile_pic" name="user[profile_pic]" type="file" />
<br>
<br>
<input class="btn btn-primary btn-block btn-large" name="commit" type="submit" value="Update profile" />
</form>

</div>
</div>

<div aria-hidden='true' aria-labelledby='myModalLabel' class='modal hide fade' id='contact' role='dialog' tabindex='-1'>
<div class='modal-header'>
<button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
<h3>Contact Shav and Mentos</h3>
</div>
<div class='modal-body'>
Begin the booking process by telling Shav and Mentos a bit about your venue and what type of performance you are looking for.
<br>
<br>
<form accept-charset="UTF-8" action="/conversations" class="new_conversation" id="new_conversation" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="ikBU3/4D9xl3PIOyz/h9solvEWwS1Fe2vO2Kw7BLcKU=" /></div>
<textarea class="input-block-level" cols="40" id="conversation_initial_message" name="conversation[initial_message]" rows="4">
</textarea>
<input id="conversation_booker_id" name="conversation[booker_id]" type="hidden" value="47" />
<input id="conversation_performer_id" name="conversation[performer_id]" type="hidden" value="60" />
<br>
<input class="btn btn-success  btn-large btn-block" name="commit" type="submit" value="send message" />
</form>
</div>
</div>

<div class='row'>
<div class='span3' style='text-align: center;'>
<div class='picture' style='position: relative; top: -5px; left: 2px'><img alt="Carelessly-300x300" class="img-rounded" src="http://s3.amazonaws.com/giggity/users/profile_pics/000/000/060/profile/carelessly-300x300.jpg?1359683516" /></div>
</div>
<div class='span5' style='position: relative; top: -5px'>
<h1>Shav and Mentos</h1>
<em style='position: relative; top: -5px; left: 3px'>Music / Hip-Hop/Pop</em>
<br>
<em style='position:relative; left: 2px'>$500 - $1,000</em>
<br>
<em style='position:relative; left: 2px; top: 5px'>rating: 9/10</em>
</div>
<div class='span4 pull-right' style='text-align: right'>
<a class='btn btn-success btn-large' data-target='#contact' data-toggle='modal' style='position: relative; top: 15px' type='button'>Start Conversation</a>
</div>
</div>
<div class='row'>
<div class='span12'>
<div class='well' style='position: relative; top: 10px'>
We are a hip-hop duo based out of Hamilton, NY that loves to make music that people really feel.  Check out some of our music and start a conversation if you think we could help you out.
</div>
</div>
</div>
<div class='row' style='position: relative; top: 5px'>
<div class='span4'>
<div class='well' style='height: 350px; overflow: auto; text-align: center'>
<h3 class='well-title'>Songs</h3>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F54950887"></iframe>
<br>
<br>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F54908475"></iframe>
<br>
<br>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F54905835"></iframe>
<br>
<br>
<br>
<br>
</div>
</div>
<div class='span8'>
<div class='well' style='height: 350px; overflow: auto; text-align: center'>
<h3 class='well-title'>Videos</h3>
<iframe width="560" height="315" src="http://www.youtube.com/embed/WX0OnoAmJUU" frameborder="0" allowfullscreen></iframe>
<br>
<br>
<iframe width="560" height="315" src="http://www.youtube.com/embed/QNQ6fc3xzLQ" frameborder="0" allowfullscreen></iframe>
<br>
<br>
<iframe width="560" height="315" src="http://www.youtube.com/embed/unGjzvNkJPQ" frameborder="0" allowfullscreen></iframe>
<br>
<br>

<br>
<br>
</div>
</div>
</div>
<div class='row'>
<div class='span12'>
<div class='well' style='text-align: center; height: 260px; overflow: auto'>
<h3 class='well-title'>Reviews</h3>
<div class='row'>
<div class='span8 offset2' style='text-align: left'>
<p>These guys were really great.  They rocked the crowd, were on time and professional, and made my venue a bunch of profit.  I would highly suggest them to anyone else. (9/10)</p>
<em>- Mike Booker</em>
<br>
<br>
<p>Shav + Mentos are the future.  Destroyed the stage last night at one of our organization's big annual events.  Don't hesistate to book. (10/10)</p>
<em>- Tim Rollins</em>
<br>
<br>
</div>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='span12'>
<div class='well'>
<h3 class='well-title'>Updates</h3>
Working on some new projects...stay tuned over the next week!
<br>
<em class='offset9'>about 9 hours ago</em>
<br>
<br>
</div>
</div>
</div>
<%= render 'layouts/footer' %>

</div>
</body>
</html>