!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h3= "#{@from.name} just sent you a message on Giggity:"
    %em= @content
    %h3 Head on over to <a href="giggity.co">Giggity.co</a> to respond!