!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1= "Welcome to Giggity!"
    %h3 A new way to book and get booked.
    %p To get started, just head over to giggity.co and log in.
    %p Thanks for joining and have a great day!