- if params[:action] == "edit"  or (params[:controller] == 'videos' and params[:action] == "create")
  %li.span3{data: {item_id: video.id}}
    %div.thumbnail
      %div.video
        = raw youtube_embed video.embed_code, "100%", ""
        - if can? :destroy, video
          %div
            = link_to 'delete', user_video_path(video.user, video), method: :delete, remote: true, class: "delete-link btn btn-tiny btn-danger"
- else
  %div.video
    = raw youtube_embed video.embed_code, 560, 340
    %br
    %br