.hero-unit.center
  %h2
    An online booking platform for student groups and independent performers.
  %br
  %p Search for quality performers in your area:
  
.row.center
  .span4.offset1
    %h2 Performers
    %p Are you a musician, comedian, or another type of live performer? Sign up and start getting more gigs at universities around you!
  .span4.offset1
    %h2 University Groups
    %p Do you belong to a club, committee, or organization at your university? Sign up to find and book live performers for your next event!