/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require mediaelement_rails
 *= require bootstrap-arrows
 *= require_tree .
*/

@mixin alert-box {
    padding: 5px 8px;
    margin: 10px 0;
}

body {
  padding-top: 80px;
  padding-bottom: 10px;
}

.brand {
    float: left;
    padding-right: 8px;
}

ul.nav {
    list-style: none;
    margin: 0 0 2em;
    padding: 0;
    
    li {
      display: inline;
    }
}

#flash_notice {
    @include alert-box;
    background-color: #CFC;
    border: solid 1px #6C6;
    color: #000000;
}
#flash_alert {
    @include alert-box;
    background-color: #FCC;
    border: solid 1px #C66;
}

.well-title {
    position: relative;
    top: -15px;
    text-align: left;
}

#logo {
    position: fixed;
    top: 2px;
    left: 50%;
    margin-left: -80px;
}

#maxbrody_logo {
    position: relative;
    top: -2px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.bold {
    font-weight: 900;
}

.up {
    position: relative;
    top: -5px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }