// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centerdiv {
  width: 30%;
  margin: 0px auto;
}


.new_user {
  label {
    float:left;
    clear:none;
    display:block;
    padding: 2px 0 0 2px;
  }
  
  input[type=radio] {
    float:left;
    clear:none;
    margin:2px 0 0 20px;
  }
}

.top-buffer {
  margin-top:20px;
}