// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hero-unit form{
  height: 40px;
}

#new_user input[type=radio] {
  margin-bottom: 15px;
}

.radios {
  text-align: center;
}