// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#song_list .song{
  height: 200px;
  position: relative
}

.song > div:last {
  position: absolute; bottom: 0;
}

.photo, .picture {
  display: inline;
}

input[type="file"] {
  background-color: transparent;
  border: 0;
}

#blurb {
  margin-top: 10px;
  margin-bottom: 15px;
}

#songs, #videos, #photos {
  height: 350px;
  overflow: auto;
  text-align: center;
}

.reviews, .updates {
  height: 250px;
  overflow: auto;
}

.confirm-radio {
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}