.clearfix
%footer
  .row
    %hr
    .span5
      = link_to "About", about_path
    .span7{style: "font-weight: 100; font-style: italic; font-size: 10px; text-align: right"}
      = link_to image_tag('maxbrody_logo.png', width: 150, id: 'maxbrody_logo'), 'http://www.maxbrody.co'